<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2022 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
====================================================================================================
START: Overview
====================================================================================================

The <SetProperty> tag is just a syntactic sugar for a custom action that sets a property.

The <SetProperty> tag is creating, behind the scene, a custom action that sets the specified
property and adds it in an execution sequence based on the values provided by the "Sequence","After"
and "Before" attributes.

NEXT: Product.wxs (DOWN)
-->

<!--
====================================================================================================
Step 0: Create a dummy installer
====================================================================================================

Create a simple installer that deploys a single dummy text file.
See the "My First Installer" pill for an example:
    - https://github.com/WiX-Toolset-Pills-15mg/My-First-Installer

NEXT: Product.wxs (DOWN)
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product
        Id="*"
        Name="SetProperty Tag"
        Language="1033"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="b22ee634-374b-4dfe-8dc7-1b6cef88fb5c">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Feature
            Id="ProductFeature"
            Title="SetProperty Tag"
            Level="1">

            <ComponentGroupRef Id="FileComponents" />
        </Feature>

        <!--
        ====================================================================================================
        Step 1: Use <SetProperty> to set the value of "Property1"
        ====================================================================================================

        Set the "Property1" using the <SetProperty> tag.
        
        Note the "Sequence" and the "After" attributes that specifies where the custom action should be
        sequenced.
        
        NEXT: Product.wxs (DOWN)
        -->

        <SetProperty
            Id="Property1"
            Value="Value1"
            Sequence="execute"
            After="LaunchConditions" />

        <!--
        ====================================================================================================
        Step 2: Use <CustomAction> to set the value of "Property2"
        ====================================================================================================

        Alternatively, we can set a property using a normal custom action that we manually schedule into an
        execution sequence.
        
        NEXT: install.bat
        -->

        <CustomAction
            Id="SetProperty2"
            Property="Property2"
            Value="Value2" />

        <InstallExecuteSequence>
            <Custom Action="SetProperty2" After="LaunchConditions" />
        </InstallExecuteSequence>

    </Product>

</Wix>